@import '../../shared/styles/variables';

.item {
    display: block;
    border-radius: $radius-medium;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);

    width: calc((100% - 1 * $grid-gap-small) / 2);

    @media screen and (min-width: 450px) {
        width: calc((100% - 2 * $grid-gap-small) / 3);
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 3 * $grid-gap-medium) / 4);
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 4 * $grid-gap-medium) / 5);
    }

    @media screen and (min-width: 1625px) {
        width: calc((100% - 5 * $grid-gap-medium) / 6);
    }
}

.link {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.poster {
    width: 100%;
}

.meta {
    position: relative;
    flex-grow: 1;
    border: 1px solid lightgray;
    border-top: none;
    border-radius: 0 0 $radius-medium $radius-medium;
    padding: 25px 12px 15px 12px;
}

.title {
    margin: 0;
    text-decoration: none;
    color: $color-main-text;
    font-weight: 700;

    &:hover,
    &:focus {
        color: $color-logo2;
    }
}

.release {
    margin: 0;
    font-weight: 300;
    color: grey;
}




