@import '../../styles/variables';

.card {
    display: block;
    border-radius: $radius-medium;
    background-color: white;
    overflow: hidden;
    padding: 15px 25px;
    border: 1px solid lightgray;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    
}