.fullweightContainer {
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 400px;
    background-color: rgb(53, 81, 103);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.movieCard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    border-color: white;

}

.darkThema {
    color: black;
    border-color: black;
}

.poster {
    display: block;
    min-width: 300px;
    width: 300px;
    margin-right: 40px;
    border-radius: 7px;
    overflow: hidden;
}

.image {
    width: 100%;
}

.meta {
    width: 100%;
    min-width: 400px;
}

.title {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 32px;
}

.year {
    font-weight: 400;
    opacity: 0.7;
}

.tagline {
    font-size: 20px;
    opacity: 0.7;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.overview {
    margin-top: 0;
}

.genreList {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.genre {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 14px;
    padding-right: 14px;
    height: 28px;
    border: 1px solid white;
    border-color: inherit;
    border-radius: 14px;
    font-size: 14px;
}

.ratingBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.ratingWrapper {
    position: relative;
    width: 40px;
    height: 40px;
    padding-left: 4px;
    scale: 1.6;
    margin-right: 20px;
    margin-bottom: 30px;
}