.wrapper {
    min-width: 200px;
    display: block;
    border-radius: 7px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    padding: 15px;
}

.message {
    margin: 0;
    font-size: 16px;
    text-align: center;
}