$color-accent: #032541;
$color-darkgreen: #081c22;
$color-logo1: #8fcea2;
$color-logo2: #02b3e4;
$color-accent-yellow: #d2d531;
$color-accent-magenta: #d6235e;
$color-main-text: black;

$grid-gap-medium: 30px;
$grid-gap-small: 20px;
$radius-medium: 7px;
$radius-small: 4px;