@import '../../styles/variables';

.rating {
    position: absolute;
    top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color: $color-bg-secondary;
}

.diagram {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 40px;
    height: 40px; 
    border: none;
}

.circleBg {
    fill: none;
    stroke: $color-high;
    opacity: 0.2;
}

.progress {
    fill: none;
    stroke: $color-low;
    stroke-linecap: round;
    stroke-linejoin: round;

    &.medium {
        stroke: $color-middle;
    }

    &.high {
        stroke: $color-high;
    }
}

.ratingNumber {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 14px;
    margin-top: -1px;
}

.percentSign {
    font-weight: 900;
    font-size: 8px;
    margin-top: -4px;
}