.list {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 30px;
}

.item {
    &:not(:last-child) {
        margin-bottom: 30px;
    }
}

.name {
    font-weight: 600;
}

.content {
    
}